body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1;
}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.header{
	width: 100%;
	margin: auto;
}
.logo{
	width: 60px;
  	margin-top: 20px;
  	margin-left: 0px;
}
.main{
	width: 90%;
	margin: auto;
}
.itemimg{
	width: 200px;
}
.description{
	float: right;
	clear: left;
	width: 50%;
	margin-top: 20px;
}

.buttonSubmit{
  display: block;
  width: 150px;
  height: 50px;
  padding: 12px;
  box-sizing: border-box;
  border: 1.5px solid #2bb6c9;
  margin-top:100px;
  margin-bottom: 60px;
  background-color: #fff;
  color: #2bb6c9;
  font: 1.2em Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease ;
  -o-transition: .5s ease;
  transition: .5s ease ;
}
a.buttonSubmit:hover,
a.buttonSubmit:focus {
  background-color: #2bb6c9;
  border:none;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 620px){
	.logo{
		display: block;
		margin: 15px auto;
	}
	.buttonSubmit{
		margin-top: 50px;
	}
}