body{
  color:#4A4A4A;
  font:Hoefler Text, Songti TC, serif;
  margin: 0;
  padding: 0;
}
h1{
  color: #000;
  font: 1.5em Arial, sans-serif;
  line-height: 2em;
  text-align: center;

}
img {
	max-width: 100%;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;
}
.logo{
  width: 50px;
  margin-top: 20px;
  margin-left: 30px;
  float: left;
}
.facebook{
  width: 35px;
  height: 35px;
  position: absolute;
  top:20px;
  right: 20px;
}
#share_btn{
  width: 100%;
  height: 100%;
  display: block;
}
#share_btn img{
  height: 100%;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
#share_btn:hover img{
  height: 120%;
}
.logob{
  display: block;
  width: 80px;
  margin: 60px auto 10px auto;
}
.ball1{
  width: 500px;
  height: 500px;
  position: absolute;
  left:-150px;
  bottom: 0px;
}
.ball2{
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.ball3{
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.header {
  margin: 0 auto
  width:100%;
  box-sizing: border-box;
  padding: 10px 20px;
  background: #2bb6c9 url("../img/bg3.png") no-repeat top center;
  background-size: cover;
  height: 600px;
  position: relative;
  top: 0px;
}
.midtitle{
  text-align: center;
  margin-top: 50px;
}
.content{
  margin: 66px auto;
  width: 72.9166667%;
}
.intro{
  margin: 0 auto 50px auto;
  text-align: center;
  line-height: 2em;
  max-width: 800px;
}

.plansrow{
  margin: 60px auto 20px auto;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
}
.plan{
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */    
  flex: 1;
}

.giftlink{
  color: #2bb6c9; 
  text-decoration: underline;
}
.illustration {
	display: block; 
	width: 70%; 
	height: auto; 
	margin: 20px auto; 
}
.description{
  list-style-type: disc;
  line-height: 2em;
  height: 250px;
}
.row{
  margin: 10px auto 20px auto;
  width: 100%;
}
.subscribe{
  display: block;
  width: 180px;
  height: 50px;
  padding: 11px;
  box-sizing: border-box;
  border: 1.5px solid #2bb6c9;
  margin: 10px auto 20px auto;
  background-color: #fff;
  color: #2bb6c9;
  font: 1.1em Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease ;
  -o-transition: .5s ease;
  transition: .5s ease ;
}
a.subscribe:hover,
a.subscribe:focus {
  background-color: #2bb6c9;
  border:none;
  color: #fff;
}
.price{
  text-align: center;
  font: 1.2em;
  color: #9B9B9B;
  text-decoration: none;
}

.testimonial{
  margin: 80px auto 0 auto;
  background-color: #F7F7F7;
  padding: 60px 20%;
}
.testrow1{
  margin: 10 auto;
  width: 100%;
  height: 150px;
}
.testrow2{
  margin: 10 auto;
  width: 100%;
  height: 200px;
}
.test1{
  float: left;
  margin: 0 auto;
  width: 40%;
}
.test2{
  float: right;
  margin: 0 auto;
  width: 40%;
}
.quote{
  color: #9B9B9B;
  font:italic .9em Arial, sans-serif;
}
.credit{
  text-align: right;
  color: #2BB6C9;
}
.qatitle{
  font: 2em Arial, sans-serif;
}
.qaunit{
  width: 90%;
  margin: 10px auto;
}
.question:before {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  left: -20px;
  content: url('../img/inicon.svg');
  float:left;
}
.question{
  margin-top:50px;
  margin-left: -25px;
  font-weight: bold;
  color: #2BB6C9;
}
.answer{
  color: #9B9B9B;
}
.footer{
  margin: 0 auto;
  padding: 30px 10%;
  width: 100%;
  background-color: #1b1b2d;
  font: .8em Arial, sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 620px){
  h1{
    margin-bottom: 20px;
  }
  .header{
    height: 220px
  }
  .logo{
    width:35px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .logob{
    width: 60px;
    margin: 20px auto 80px auto;
  }
  .content{
    margin: 30px auto;
    width: 90%;
  }
  .intro{
    font-size: .9em;
    line-height: 2em;
  }
  .plansrow{
    margin: -100px auto 50px auto;
    flex-direction: column;
  }
  .description{
    height: auto;
    font-size: .9em;
  }
  .plan1{
    float: none;
    width: 100%;
    height: auto;
  }
  .plan2{
    float: none;
    width: 100%;
    height: auto;
  }
  .illustration{
    width: 100%;
    height: auto;
  }
  .testimonial{
    padding: 30px 5%;
  }
  .testrow1{
    height: 230px;
  }
  .testrow2{
    height: 400px;
  }
  .test1{
    float: none;
    width: 80%;
  }
  .test2{
    float: none;
    width: 80%;
  }
  .ball1{
    width:220px;
    height: 220px;
  }
  .ball2{
    width:220px;
    height: 220px;
  }
  .ball3{
    width:220px;
    height: 220px;
  }
  .qaunit{
    font-size: .9em;
  }
  .question:before{
    width: 20px;
    height: 20px;
    left: -10px;
  }
  .question{
    margin-left: -20px;
  }
  .qatitle{
  font: 1.5em Arial, sans-serif;
}
}
@media screen (min-width: 601px) and (max-width: 1200px){
  .testimonial{
    padding: 60px 10%;
  }
  .header{
    height: 300px;
  }
  .description{
    height: 360px;
  }
}





